.header {
     margin-top: 2rem;
}

.header__row {
     align-items: center;
}

.header__inner {
     padding: .8rem 1.4rem;

     background: $white;
     border-radius: $radius;
     box-shadow: $shadow;
}