.nav {
     display: flex;

     font-size: 1rem;
     font-weight: 500;
}

.nav__link {
     padding: .3rem 1.5rem;
     margin-right: 1rem;

     color: $black;
     text-decoration: none;

     border-radius: 20px;

     transition: background .2s linear, color .2s linear;

     &:last-child {
          margin-right: 0;
     }

     &:hover {
          background: darken($grey, 3%);
     }

     &.active {
          background: $pink;
          color: $white;
     }
}